@import "./normalize";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

// colors
$yellow: #eafe70;
$blue: #192c41;
$white: #ffffff;

.button {
  min-width: 150px;
  min-height: 45px;
  border-radius: 3px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: capitalize;

  &.button--yellow {
    background-color: $yellow;
    color: $blue;
  }

  &.button--blue {
    background-color: $blue;
    color: $white;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
}

.cintainer-wide {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: 1600px) {
    max-width: 1400px;
  }

  @media (max-width: 1400px) {
    max-width: 1200px;
  }

  @media (max-width: 1200px) {
    max-width: 960px;
  }

  @media (max-width: 992px) {
    max-width: 720px;
  }

  @media (max-width: 768px) {
    max-width: 540px;
  }

  @media (max-width: 576px) {
    max-width: 100%;
  }
}

header {
  background-color: $blue;
  padding: 15px 0;
}

.navbar {
  padding: 0;
}

.header__logo {
  margin-right: 3rem;

  img {
    height: 60px;
  }
}

.header__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
  }

  li {
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    text-transform: uppercase;
    color: $white;
    padding: 3px 0;
    // transition: 0.1s ease all;

    &:hover,
    &.active {
      color: $white;
      border-bottom: 3px solid $yellow;
    }
  }
}

//FOOTER
footer {
  background-color: $blue;
  padding: 20px 0;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__copyright {
  font-size: 0.8rem;
  color: $white;
  letter-spacing: 0.5px;
}

.footer__copyright--reveris {
  color: $yellow;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.footer__nav {
  ul {
    display: flex;
  }

  li {
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: $white;
  }
}

//HERO
.hero {
  border-top: 3px solid $yellow;
  border-bottom: 3px solid $yellow;
  height: 65vh;
  background-image: url("../assets/hero-home.png");
  background-size: cover;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    opacity: 0.2;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
}

.hero__inner {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
}

.hero__headline {
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: 4rem;
  color: $white;
}

.headline--yellow {
  color: $yellow;
  text-shadow: 0px 0px 20px #eafe70d6;
}

.hero__scroll-image {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

// NEWSLETTER
.newsletter {
  background-color: $yellow;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter__title {
  font-size: 2rem;
  text-transform: uppercase;
}

.newsletter--bolder {
  font-weight: bold;
}

.button--sign-up {
  margin-top: 30px;
}
